<!DOCTYPE html>
<html>
    <head>
        <title>{% block html_title %}Default Magic Pony Template{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/screen.css" type="text/css" media="screen">
        
        {% block extra_stylesheets %}{% endblock %}
        {% block extra_javascript %}{% endblock %}
    </head>
    <body id="{% block body_id %}page{% endblock %}" class="{% block body_class %}class{% endblock %}" onload="{% block body_onload %}{% endblock %}">
        {% block site_header %}
            {% include "partials/global_navigation.html" %}
        {% endblock %}
        
        {% block page_header %}{% endblock %}
        {% block page_content %}{% endblock %}
        {% block page_footer %}{% endblock %}
        
        {% block side_footer %}{% endblock %}
    </body>
</html>