$light_red: #FF6FCF
$red: #F00
$dark_red: #800040

$light_blue: #6FF
$blue: #00F
$dark_blue: #000080

$light_green: #CF6
$green: #80FF00
$dark_green: #008000

$light_gray: #DDD
$gray: #888
$dark_gray: #222

$black: #000
$white: #FFF

// Aliases
$pink: $light_red