{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block page_header %}
    <div id="welcome_header">
        <h1 id="welcome_message">Good work!</h1>
        <p id="welcome_copy">
            You've successfully created a project with compass-sassle.
        </p>
    </div>
{% endblock %}

{% block page_footer %}
    <div id="page_footer">
        <ul id="credits">
            <li>Written &amp; Maintained by: Alex Cabrera</li>
            <li>django.wsgi config by: Joonas Bergius</li>
        </ul>
    </div>
{% endblock %}