<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<link rel="shortcut icon" href="media/images/favicon.ico">
	<link rel="apple-touch-icon" href="media/images/apple-touch-icon.png">
	<link rel="stylesheet" href="media/stylesheets/960.css" type="text/css" media="screen">
	<script src="media/javascript/modernizr-1.5.min.js"></script>
</head>

	<div id="site_container">
		<header>
			
		</header>
		
		<div id="page_content">
			
		</div>
		
		<footer>
			
		</footer>
		
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="media/javascript/jquery-1.4.2.min.js"><\/script>')</script>
	<script src="media/javascript/plugins.js"></script>
	<script src="media/javascript/script.js"></script>

</body>
</html>